.odd {
    background: rgb(247, 175, 186);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

.alt-font-size {
    font-size: 24px;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(127, 252, 127);
    font-size: 24px;
    font-weight: bold;
}